@use '../utils/mixins';

.navbar {
    @include mixins.flex-layout(space-between, center);
    padding: 0 2rem;
    @include mixins.break-at(700px) {
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        font-size: 24px;
        letter-spacing: 1px;
        flex: 1;
        text-align: left;
    }
}

.nav-center {
    flex: 2;
    @include mixins.flex-layout(center, center);
    @include mixins.break-at(400px) {
        flex-direction: column;
        gap: 0rem;
        
        h2 {
            margin: 0.5rem;
        }
    }

    h2 {
        padding: 0 1rem;
    }
}

.nav-right {
    flex: 1;
    @include mixins.flex-layout(flex-end, center);
}

.sign-in {
    @include mixins.stylize-button(18px, var(--light-cyan), var(--black), 2px solid var(--black2), 40px, 600);
    padding: 0.5rem 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

header {
    position: relative;
    background: linear-gradient(135deg, var(--jet-black) 0%, var(--blue-slate) 100%);
    color: var(--white);
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 2rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../res/header-background-img.jpg");
        background-size: cover;
        background-position: center;
        filter: brightness(0.7) contrast(1.1);
        mix-blend-mode: overlay;
        opacity: 0.4;
        z-index: 0;
    }
}

header h2 {
    position: relative;
    z-index: 1;
    font-size: 20px;
}