@use "../utils/mixins";

.sidebar-favorites {
    @extend %card-base;
    flex: 1;
    height: fit-content;
}

.sidebar-favorites h2 {
    margin-top: 0;
    font-size: 1.25rem;
    color: var(--jet-black);
    border-bottom: 2px solid var(--cool-steel);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.sidebar-favorites ul {
    list-style: none;
    padding: 0;
}

.sidebar-favorites li {
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidebar-favorites li:not(:first-child):hover {
    background-color: var(--light-cyan);
}