@use "../utils/mixins";

.sidebar-favorites {
    @extend %card-base;
    flex: 1;
    height: fit-content;

    h2 {
        margin-top: 0;
        font-size: 1.25rem;
        color: var(--jet-black);
        border-bottom: 2px solid var(--cool-steel);
        padding-bottom: 10px;
        margin-bottom: 15px;
    }   

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 8px 12px;
        border-radius: 8px;
        margin-bottom: 5px;

        &:not(:first-child):hover {
            background-color: var(--light-cyan);
        }
    }
}

#favorites_lists {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    align-items: center;

    span {
        cursor: pointer;
        font-size: 17px;
        &:hover {
            transform: scale(1.1);
        }
    }

    .del-button-favorites {
        justify-self: flex-end;
    }

    &.is-empty {
        @include mixins.flex-layout(flex-start, center);
    }
}

.country-flag-favorites {
    height: 2.5rem;
    padding: 0.5rem;
    padding-left: 0;
    padding-right: 1rem;
    justify-self: center;
    align-items: center;
    filter: drop-shadow(0 0 3px var(--light-blue));
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.del-button-favorites {
    font-size: 16px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1); 
    }
}