:root {
    --light-cyan: #e0fbfc;
    --light-blue: #c2dfe3;
    --cool-steel: #9db4c0;
    --blue-slate: #5c6b73;
    --jet-black: #253237;
    --light-jet-black: #2a3a41;
    --black: #1b2529;
    --black2: #182125;
    --white: #ffffff;
    --star-yellow: #ffff00;
}